<div class="container">
    <h1 class="title">
        <span>Personal Information</span>
    </h1>
    <table>
        <tbody>
            <tr *ngFor="let row of myData">
                <td *ngFor="let col of row">{{col}}</td>
            </tr>
        </tbody>
    </table>
    <section class="personal-info-section">
        <p>
            <span>Hi, I am a Software Engineer with 1 years of experience in the software industry.</span>
        </p>
        <p>
            <span>Currently, working as a Software Developer at Flipick Pvt Ltd.</span>
        </p>
        <p>
            <span>Building <a href="https://mpscplanner.com" target="_blank">mpscplanner.com</a> and
                <a href="https://upscplanner.com" target="_blank">upscplanner.com</a></span>
        </p>
    </section>

</div>