<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="https://www.linkedin.com/in/aniketp166/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
        <li><a href="https://github.com/aniketp166" target="_blank"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://twitter.com/aniketp166" target="_blank"><i class='bx bxl-twitter'></i></a></li>
        <li><a href="mailto:aniketp166@gmail.com" target="_blank"><i class='bx bxl-gmail'></i></a></li>
        <li><a href="https://www.facebook.com/aniketp166" target="_blank"><i class='bx bxl-facebook-circle'></i></a>
        </li>
        <li><a href="https://www.instagram.com/aniketp166" target="_blank"><i class='bx bxl-instagram'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile : 8421015314, 9404629883</li>
        <li>aniketp166&#64;gmail.com</li>
    </ul>
    
</div>